<div class="container card">
    <h1>Tabla de Productos</h1>
    <input type="text" [(ngModel)]="filterString" (ngModelChange)="filterProducts()" placeholder="Buscar...">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Categoría</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            @if (filterString === '') {
                @for (producto of arrProducts; track producto._id) {
                <tr>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.categoria}}</td>
                    <td>{{producto.cantidad}}</td>
                </tr>
                }
            } @else {
                @for (producto of arrFilterProducts; track producto._id) {
                    <tr>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.precio}}</td>
                        <td>{{producto.categoria}}</td>
                        <td>{{producto.cantidad}}</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    
</div>