ul {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    list-style: none;
    min-width: 150px;
    max-width: 200px;
    height: 250px;
    align-items: center;

    a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: inherit;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;

        fa-icon {
            margin: 0 auto;
            font-size: 50px;
        }

        h2 {
            margin: 0 auto;
        }

    }

    &:hover {
        min-width: 175px;
        max-width: 225px;
        height: 275px;
        box-shadow: 3px 3px 3px 3px;
    }
}