<div class="container">
    <nav>
        <ul>
            <li class="card">
                    <fa-icon [icon]="faBox"></fa-icon>
                    <h2>Productos</h2>
            </li>
            <li class="card">
                    <fa-icon [icon]="faUser"></fa-icon>
                    <h2>Clientes</h2>
            </li>
            <li class="card">
                    <fa-icon [icon]="faCart"></fa-icon>
                    <h2 class="card-title">Pedidos</h2>
            </li>
        </ul>
    </nav>
</div>