<div class="container">
    <nav>
        <ul>
            <li class="main-card">
                <a href="">
                    <fa-icon [icon]="faBox"></fa-icon>
                    <h3>Productos</h3>
                </a>
            </li>
            <li class="main-card">
                <a href="">
                    <fa-icon [icon]="faUser"></fa-icon>
                    <h3>Clientes</h3>
                </a>
            </li>
            <li class="main-card">
                <a href="">
                    <fa-icon [icon]="faCart"></fa-icon>
                    <h3>Pedidos</h3>
                </a>
            </li>
        </ul>
    </nav>
</div>